@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Sofia+Sans:wght@500&display=swap");

/* *********************************? Global ******************************/

:root {
  --darkGray-background: #343a40;
  --button-background: #ff214f;
  --primary-font: "Cairo", sans-serif;
  --text-color: #ffffff;
  scroll-behavior: smooth;
}

.clearfix {
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: Oswald, sans-serif;
  line-height: 1.2;
  color: var(--text-color);
}
/* ************************TODO ******************************* */
.float {
  float: left;
}

.float::after {
  clear: both;
  content: "";
  display: block;
}

/* ************************TODO ******************************* */
* {
  box-sizing: border-box;
  /* border: 1px solid; */
}

body {
  font-family: var(--primary-font);
}

.container {
  width: 100%;
}

/* *********************************!  End Global ******************************/

/* Start Navbar *****************************/

.containar .content {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 98%;
}
.brand {
  width: 10%;
  align-items: center;
}
.content .navbar ul {
  display: flex;
  list-style: none;
}
.content .nav-link {
  padding-right: 20px;
  text-transform: capitalize;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
}
.navbar .nav-item .active {
  color: #ff214f;
}
.navbar .nav-item a:hover {
  color: #ff214f;
}

.header {
  height: 100vh;
  background: url(../images/main.jpg);
  background-size: cover;
}
.header .overlay {
  height: 100%;
  background: rgba(33, 37, 41, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content button {
  padding: 10px;
  background-color: var(--button-background);
  margin-top: -11px;
  border-radius: 5px;
}
.header h1 {
  font-size: 6rem;
  font-weight: 700;
}
.header h2 {
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
}
.header button {
  padding: 15px 25px;
  background-color: var(--button-background);
  border-color: var(--button-background);
  margin-top: 20px;
  border-radius: 5px;
}
.header a {
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
}
@media (max-width: 850px) {
  .header h1 {
    font-size: 2.5rem;
  }
  .header h2 {
    font-size: 1.5rem;
  }
  .header button {
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
  }
  .header .overlay {
    justify-content: flex-end;
    padding-bottom: 10%;
  }
  .content .navbar ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .brand {
    display: none;
  }
  .containar .content {
    display: block;
  }
  .content button {
    margin-top: 11px;
  }
  .content .nav-item {
    margin-bottom: 10px;
  }
}
/* ******************About****************** */
.about-section {
  display: flex;
}

.about-section .content {
  background-color: #343a40;
  width: 50%;
}
.about-section .about-img {
  width: 50%;
}
.about-section .about-img img {
  width: 100%;
  height: 100%;
}

.content .description {
  color: #fff;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  margin-top: 20%;
  line-height: 1.8rem;
}
.content .description h2 {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 100;
}
@media (max-width: 1100px) {
  .about-section {
    display: flex;
    flex-direction: column;
  }
  .content .description {
    width: 90%;
  }
  .about-section .about-img,
  .about-section .content {
    width: 100%;
    margin-top: -10px;
  }
  .content .description h2,
  p {
    text-align: center;
  }
}
/******************************Titel-menu***********************************/
.titel-menu {
  min-height: 300px;
  background-color: #343a40;
}
.titel-menu h2 {
  text-align: center;
  line-height: 300px;
  color: #fff;
  font-size: 3.5rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
}
/*****************************************items-food******************************************/
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.image-gallery > li {
  flex-basis: 25%;
  list-style-type: none;
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@media (max-width: 895px) {
  .image-gallery {
    width: 100%;
  }
  .image-gallery > li {
    flex-basis: 33.3%;
  }
  .image-gallery li img {
    max-width: 100%;
  }
}
@media (max-width: 700px) {
  .image-gallery {
    width: 100%;
  }
  .image-gallery > li {
    flex-basis: 50%;
  }
  .image-gallery li img {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .image-gallery {
    width: 100%;
  }
  .image-gallery > li {
    flex-basis: 100%;
  }
  .image-gallery li img {
    max-width: 100%;
  }
}
/* ************Book Table ***********************/
/* .book-table {
  height: 350px;
  background: url(../images/book-table-img.jpg);
  background-size: cover;
}

.book-table .table {
  display: flex;
  background: #343a40b5;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
/* ************test************* */
.book-table {
  height: 550px;
  background: url(../images/book-table-img.jpg);
  background-size: cover;
}
.book-table .overlay {
  background: rgb(33 37 41 / 66%);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

/* **************test**************** */
.book-table img {
  width: 100%;
  z-index: -1;
}
.input-table {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.book-table h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-bottom: 7%;
}
.book-table .form-control {
  background: 0 0;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
}
.book-table .table {
  width: 100%;
}
.book-table .btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 55px;
}

.book-table button {
  padding: 0.8rem 3.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.15rem;
  color: #fff;
  background-color: #ff214f;
  border-color: #ff214f;
  text-transform: uppercase;
}
.book-table button:hover {
  border-color: #fff;
  background-color: #fff;
  color: #ff214f;
}
.book-table input::placeholder {
  color: #fff;
}
@media (max-width: 950px) {
  .book-table .table .input-table {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .book-table .table .form-control {
    margin: 10px;
  }
  .book-table .btn {
    margin: 0;
  }
  .book-table .table {
    position: absolute;
  }
  .book-table {
    height: 550px;
  }
}
/* *******************EVENTS******************** */
.event {
  background-color: #343a40;
}
.event h5 {
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-top: 7%;
}
.event .cards {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
}
.event img {
  width: 100%;
}
.event .btn {
  display: flex;
  justify-content: center;
  padding-top: 7%;
}
.event .btn button:first-child {
  padding: 0.5rem 4.8rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.15rem;
  color: #fff;
  background-color: #ff214f;
  border-color: #ff214f;
  text-transform: capitalize;
}
.event .btn button:last-child {
  padding: 0.5rem 4.8rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.15rem;
  color: #ff214f;
  background-color: #343a40;
  text-transform: capitalize;
  border-color: transparent;
}
.event .btn button:last-child:hover {
  background-color: #fff;
  color: #343a40;
}
.event .card {
  flex-basis: 31%;
  border: 1px solid #524e4e;
  text-align: center;
}
.event .card span {
  background-color: #ff214f;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  padding: 0rem 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.event .cards .card .content {
  margin-top: 20px;
  padding: 2rem;
  color: #fff;
}
.event .cards .card .content h4 {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 400;
}
@media (max-width: 820px) {
  .event .cards {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #343a40;
  }

  .event .cards .card .content h4 {
    font-size: 1.5rem;
  }
  .event h5 {
    font-size: 2.5rem;
  }
}
/* **************************REVIEWS****************** */
.reviews {
  background-color: #343a40;
  padding-bottom: 40px;
}
.reviews h2 {
  margin: 0;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-top: 65px;
}
.reviews .cards {
  display: flex;
  justify-content: space-around;
}
.reviews .cards .desc {
  text-align: center;
  padding: 1rem;
  border: 2px solid #495057;
  border-top-color: #ff214f;
  display: flex;
  margin-top: 35px;
  color: #fff;
  line-height: 1.5rem;
  position: relative;
  font-size: 1.1rem;
}
.reviews .cards h3 {
  font-size: 1.8rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 400;
}
.reviews .cards h6 {
  font-size: 0.8rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 400;
  opacity: 0.8;
  margin: 14px;
}
.reviews .cards .content {
  flex-basis: 31%;
}

.reviews .cards .desc::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  width: 25px;
  height: 25px;
  border-color: #ff214f;
  border-radius: 0.2rem 0 0 0;
  border-style: solid;
  border-width: 2px 0 0 2px;
  transform: rotate(45deg) translateX(-50%);
  background: #343a40;
  -webkit-transform: rotate(45deg) translateX(-50%);
  -moz-transform: rotate(45deg) translateX(-50%);
  -ms-transform: rotate(45deg) translateX(-50%);
  -o-transform: rotate(45deg) translateX(-50%);
}
@media (max-width: 820px) {
  .reviews .cards {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #343a40;
  }
  .reviews .cards h3 {
    margin-top: 25px;
  }
}
/* **********Find Us************ */
.find-us {
  display: flex;
  background-color: #343a40;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #495057;
  width: 100%;
}
.find-us .map,
.find-text {
  flex-basis: 50%;
}
.find-text {
  color: #fff;
  padding: 30px;
}
.find-us h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
}
.find-us p {
  line-height: 1.8rem;
  width: 95%;
}

.fa-location-dot:before,
.fa-phone-alt:before,
.fa-map-marker-alt:before,
.fa-envelope:before {
  margin-right: 10px;
}
.address {
  color: #adb5bd;
}
@media (max-width: 950px) {
  .find-us {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .find-text {
    text-align: center;
  }
}
/* **************************conacts*************** */
.contacts {
  background-color: #343a40;
  display: flex;
  height: 300px;
  justify-content: space-evenly;
}
.contacts .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}
.contacts .content h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 400;
}
.contacts .content h6 {
  color: #adb5bd;
  margin: 5px;
  font-size: 0.8rem;
}
@media (max-width: 950px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
  .contacts .content {
    text-align: center;
    width: 100%;
  }
}
/* ***********************copyright************************** */
.copyright {
  background-color: #343a40;
  height: 100px;
  text-align: center;
  border-top: 2px solid #495057;
  color: #adb5bd;
  line-height: 100px;
}
.copyright a {
  background-color: transparent;
  color: #ff0000cf;
}
.copyright .fa-heart {
  color: red;
}
